* {
    margin: 0 px;
    padding: 10px;
    box-sizing: border-box;
}

body{
    background:#BFA77D;
}

div {
    width: 800px;
    height: 800px;
}

button {
    display: inline-block;
    width: 200px;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
    background-color: #878758;
    font: 20px/20px Roboto, serif;
    border-radius: 500px;
}

h1 {
    width: 600px;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    background-color: #B58A70;
    font: bold 40px/36px Roboto, serif;
    border-radius: 500px;
    padding: 20px;
}

h2 {
    width: 600px;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    background-color: #B58A70;
    font: 20px/36px Roboto, serif;
    border-radius: 500px;
    padding: 20px;
}

h3 {
    display: inline-block;
    width: 150px;
    justify-content: center;
    text-align: center;
    border: 1px solid black;
    background-color: #AF986C;
    font: 20px/36px Roboto, serif;
    border-radius: 500px;
    padding: 10px;
}

start {
    font: 16px/36px Roboto, serif;
    background-color: #878758;
    border: 1px solid black;
    border-radius: 500px;
}
